/* inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./inter/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./inter/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./inter/Inter-Black.woff2') format('woff2');
}

/* mononoki */
@font-face {
  font-family: 'Mononoki';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./mononoki/mononoki-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Mononoki';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('./mononoki/mononoki-Bold.woff2') format('woff2');
}
