.prose {
	code[class*='shiki'],
	pre[class*='shiki'] {
		font-size: var(--font-18);
		tab-size: 2;
	}

	pre {
		padding-block: var(--spacing-16);
		line-height: var(--post-txt-height);
		background-image: var(--clr-code-bg);
		border-left: 1px solid var(--clr-code-border);
		border-top: none;
		border-bottom-left-radius: var(--rounded-20);
		border-bottom-right-radius: var(--rounded-20);
		overflow-x: auto;
	}

	code {
		&:not(pre > code) {
			padding: var(--spacing-4) var(--spacing-8);
			color: var(--clr-code-inline-txt);
			background-color: var(--clr-code-inline-bg);
			border-radius: var(--rounded-4);
		}

		.line:not(:last-of-type) {
			display: inline-block;
			padding-inline: var(--spacing-24);
		}

		.highlighted {
			width: 100%;
			background-color: var(--clr-code-line-highlight);
		}

		span {
			font-style: normal !important;
		}
	}

	kbd,
	code {
		font-family: var(--font-mono);
	}

	html[data-font='dyslexic'] & kbd,
	html[data-font='dyslexic'] & code {
		font-family: var(--font-dyslexic-mono);
	}

	kbd {
		padding: var(--spacing-4);
		color: var(--clr-code-inline-txt);
		background-color: var(--clr-code-inline-bg);
		border: 1px solid var(--clr-primary);
		border-width: 1px 1px 3px;
		border-radius: var(--rounded-4);
	}

	.rehype-code-title {
		display: flex;
		justify-content: space-between;
		padding: var(--spacing-16) var(--spacing-24);
		font-size: var(--post-txt-size);
		color: var(--clr-code-title);
		background-color: var(--clr-code-title-bg);
		border-top: 1px solid var(--clr-code-border);
		border-left: 1px solid var(--clr-code-border);
		border-bottom: none;
		border-top-left-radius: var(--rounded-20);
		border-top-right-radius: var(--rounded-20);
	}
}
