@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Arsenica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/arsenica/Arsenica-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/source-code-pro/SourceCodePro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/source-code-pro/SourceCodePro-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/openDyslexic/OpenDyslexic-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenDyslexic Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/openDyslexic/OpenDyslexic-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/openDyslexic/OpenDyslexicMono-Regular.woff2') format('woff2');
}
