.prose {
	display: grid;
	grid-template-columns:
		1fr
		[gutter-start]
		40px
		[content-start]
		minmax(0px, var(--post-txt-length))
		[content-end]
		40px
		[gutter-end]
		1fr;

	> * {
		grid-column: content-start / content-end;
	}

	header {
		margin: var(--spacing-128) 0 var(--spacing-64) 0;
		text-align: center;
	}

	h1 {
		color: var(--clr-primary);
		line-height: clamp(32px, 6vw, 48px);
	}

	h2 {
		margin-top: var(--spacing-64);
		margin-bottom: var(--spacing-24);
		color: var(--clr-primary);
	}

	h3 {
		margin-bottom: var(--spacing-16);
		font-size: var(--font-32);
		font-family: var(--font-serif);
		color: var(--clr-primary);
	}

	a {
		.icon-link::before {
			--left: -32px;

			content: '#';
			position: absolute;
			left: var(--left);
			color: var(--clr-primary);
		}

		&:has(> .icon-link)::before:hover {
			transform: none;
		}
	}

	h3 .icon-link::before {
		--left: -24px;
	}

	#table-of-contents,
	#table-of-contents + ul {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	/* no one has to know 🤫 */
	#table-of-contents + ul a {
		text-decoration: none;
		font-weight: inherit;
	}

	a,
	p > a,
	li > a {
		text-decoration: underline;
		text-underline-offset: 4px;
	}

	p,
	li {
		font-size: var(--post-txt-size);
		line-height: var(--post-txt-height);
	}

	p:has(img) {
		display: contents;
	}

	@media (width >= 800px) {
		& :where(iframe, video, img, pre, .rehype-code-title, .example) {
			grid-column: gutter-start / gutter-end;
		}
	}

	img {
		justify-self: center;
	}

	img,
	iframe,
	video,
	p,
	ul,
	ol,
	pre,
	blockquote,
	details {
		margin-bottom: var(--spacing-32);
	}

	li > ul {
		margin-bottom: 0;
	}

	ul,
	ol {
		display: grid;
		row-gap: var(--spacing-8);
		list-style-type: none;
		list-style-position: inside;
	}

	ul li::before {
		content: '🔥';
		padding-right: var(--spacing-8);
	}

	li > ul {
		margin-top: var(--spacing-8);
		padding-left: var(--spacing-16);
	}

	li > ul > li {
		list-style-type: circle;
	}

	li > ul > li::before {
		content: none;
	}

	ol {
		list-style-type: decimal;
	}

	li > ol {
		margin-top: var(--spacing-8);
		padding-left: var(--spacing-16);
	}

	blockquote {
		position: relative;
		margin-block-end: var(--spacing-32);
		padding: var(--spacing-32);
		background: none;
		border: 4px solid var(--clr-primary);
		border-radius: var(--rounded-20);

		&::before {
			content: '“';
			width: 48px;
			height: 48px;
			position: absolute;
			left: 0px;
			top: 0px;
			translate: -50% -50%;
			padding-top: 8px;
			font-size: 48px;
			text-align: center;
			color: black;
			background: var(--clr-primary);
			border-radius: 50%;
		}

		p {
			margin-bottom: 0;
		}
	}

	details summary {
		margin-bottom: var(--spacing-8);
		font-weight: 700;
	}

	.card {
		position: relative;
		margin-block-end: var(--spacing-32);
		padding: var(--spacing-32);
		background: none;
		border: 4px solid var(--border-color);
		border-radius: var(--rounded-20);

		.icon {
			width: 48px;
			height: 48px;
			padding: var(--spacing-4);
			position: absolute;
			left: 0px;
			top: 0px;
			translate: -50% -50%;
			color: var(--icon-color);
			background: #101a1b;
		}

		&.info {
			--icon-color: #00b5ff;
			--border-color: #00b5ff;
		}

		&.warning {
			--icon-color: #f6ff00;
			--border-color: #f6ff00;
		}

		&.danger {
			--icon-color: #ff0000;
			--border-color: #ff0000;
		}
	}
}
