*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

iframe,
video {
	width: 100%;
	border: none;
	aspect-ratio: 16 / 9;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

button,
input {
	font: inherit;
	color: inherit;
	border: none;
}

button {
	font: inherit;
	background: none;
	cursor: pointer;
}

ul,
ol {
	list-style: none;
}
