html[data-theme='🌛 Night'] {
	/* Global */
	--clr-primary: hsl(173 100% 66%);
	--clr-txt: hsl(0 0% 98%);
	--clr-bg: hsl(210 7% 11%);

	--bg: radial-gradient(hsl(173 100% 4%), var(--clr-bg));
	--bg-opacity: 0.4;

	/* Header */
	--clr-header-bg: hsl(210 7% 11% / 80%);

	/* Menu */
	--clr-menu-text: hsl(0 0% 78%);
	--clr-menu-bg: linear-gradient(
		180deg,
		hsl(180 7% 14%) 0%,
		hsl(216 7% 14%) 100%
	);
	--clr-menu-arrow-bg: hsl(180 7% 14%);
	--clr-menu-border: hsl(0 0% 19%);

	--clr-theme-txt: hsl(177 100% 15%);
	--clr-theme-active: hsl(177 100% 80%);
	--clr-switch-on-bg: hsl(0 0% 28%);
	--clr-switch-off-bg: hsl(0 0% 20%);

	/* Hero */
	--clr-hero-txt: hsl(174 27% 73%);
	--clr-hero-bg: linear-gradient(
		270deg,
		hsl(210 15% 13%) 43%,
		hsl(176 19% 15%) 66%
	);
	--clr-hero-divider-bg: hsl(0 0% 21%);
	--clr-input-txt: hsl(177 100% 15%);
	--clr-input-bg: hsl(210 13% 24%);
	--clr-input-placeholder-txt: hsl(210 13% 50%);
	--clr-input-border: hsl(0 0% 21%);

	/* Card */
	--clr-card-bg: linear-gradient(
		180deg,
		hsl(180 7% 14%) 0%,
		hsl(216 7% 14%) 100%
	);
	--clr-card-txt: hsl(0 0% 78%);

	/* Link */
	--clr-link-txt: hsl(0 100% 98%);
	--clr-link-background: hsl(0 0% 4%);

	/* Footer */
	--clr-footer-txt: hsl(0 0% 78%);
	--clr-footer-bg: hsl(210 7% 11%);

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(173 100% 4% / 80%), var(--clr-bg));
	--post-blockquote-txt: hsl(173 100% 94%);
	--post-blockquote-bg: hsl(173 60% 8%);
	--post-blockquote-border: hsl(173 10% 10%);

	--clr-code-bg: linear-gradient(hsl(226, 19%, 13%), hsl(226, 19%, 16%));
	--clr-code-title: hsl(226, 19%, 80%);
	--clr-code-title-bg: hsl(226, 19%, 13%);
	--clr-code-border: hsl(226, 19%, 16%);
	--clr-code-line-number: hsl(226, 19%, 40%);
	--clr-code-line-highlight: hsl(226, 19%, 18%);
	--clr-code-inline-txt: hsl(173 100% 94%);
	--clr-code-inline-bg: hsl(173 60% 4%);

	/* Search */
	--clr-search-bg: hsl(216 7% 14%);
	--clr-search-txt: hsl(216 7% 80%);
	--clr-search-border: hsl(216 7% 19%);
	--clr-search-kbd-bg: hsl(216 7% 18%);
	--clr-search-kbd-txt: hsl(216 7% 90%);
	--clr-search-kbd-border: hsl(216 7% 20%);
	--clr-search-input-bg: hsl(216 7% 20%);
	--clr-search-input-txt: hsl(216 7% 98%);
	--clr-search-results-bg: hsl(216 7% 14%);
	--clr-results-border: hsl(216 7% 20%);
}

html[data-theme='☀️ Daylight'] {
	/* Global */
	--clr-primary: hsl(220 100% 50%);
	--clr-txt: hsl(220 10% 10%);
	--clr-bg: hsl(0 0% 98%);

	--bg: radial-gradient(hsl(0 0% 98%), var(--clr-bg));
	--bg-opacity: 0.6;

	/* Header */
	--clr-header-bg: hsl(0 0% 98% / 80%);

	/* Menu */
	--clr-menu-text: hsl(220 10% 10%);
	--clr-menu-bg: linear-gradient(180deg, hsl(0 0% 98%) 0%, hsl(0 0% 94%) 100%);
	--clr-menu-arrow-bg: hsl(0 0% 98%);
	--clr-menu-border: hsl(0 0% 80%);

	--clr-theme-txt: hsl(0 0% 98%);
	--clr-theme-active: hsl(220 100% 60%);
	--clr-switch-on-bg: hsl(220 40% 90%);
	--clr-switch-off-bg: hsl(220 40% 80%);

	/* Hero */
	--clr-hero-txt: hsl(220 10% 40%);
	--clr-hero-bg: linear-gradient(270deg, hsl(0 0% 94%) 43%, hsl(0 0% 98%) 66%);
	--clr-hero-divider-bg: hsl(0 0% 80%);
	--clr-input-txt: hsl(220 10% 98%);
	--clr-input-bg: hsl(0 0% 98%);
	--clr-input-placeholder-txt: hsl(220 10% 60%);
	--clr-input-border: hsl(0 0% 80%);

	/* Card */
	--clr-card-bg: linear-gradient(180deg, hsl(0 0% 98%) 0%, hsl(0 0% 94%) 100%);
	--clr-card-txt: hsl(220 10% 40%);

	/* Link */
	--clr-link-txt: hsl(220 10% 10%);
	--clr-link-background: hsl(0 0% 100%);

	/* Footer */
	--clr-footer-txt: hsl(220 10% 10%);
	--clr-footer-bg: hsl(0 0% 98%);

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(0 0% 100% / 60%), var(--clr-bg));
	--post-blockquote-txt: hsl(0 0% 40%);
	--post-blockquote-bg: hsl(0 0% 98%);
	--post-blockquote-border: hsl(0 0% 84%);

	--clr-code-bg: linear-gradient(hsl(226, 19%, 13%), hsl(226, 19%, 16%));
	--clr-code-title: hsl(226, 19%, 80%);
	--clr-code-title-bg: hsl(226, 19%, 13%);
	--clr-code-border: hsl(226, 19%, 16%);
	--clr-code-line-number: hsl(226, 19%, 40%);
	--clr-code-line-highlight: hsl(226, 19%, 18%);
	--clr-code-inline-txt: hsl(173 100% 94%);
	--clr-code-inline-bg: hsl(173 60% 4%);

	/* Search */
	--clr-search-bg: hsl(0 0% 98%);
	--clr-search-txt: hsl(0 0% 40%);
	--clr-search-border: hsl(0 0% 86%);
	--clr-search-kbd-bg: hsl(0 0% 94%);
	--clr-search-kbd-txt: hsl(0 0% 20%);
	--clr-search-kbd-border: hsl(0 0% 80%);
	--clr-search-input-bg: hsl(0 0% 94%);
	--clr-search-input-txt: hsl(0 0% 0%);
	--clr-search-results-bg: hsl(0 0% 98%);
	--clr-results-border: hsl(0 0% 90%);
}

html[data-theme='🐺 Night Howl'] {
	/* Global */
	--clr-primary: hsl(207 100% 94%);
	--clr-txt: hsl(210 40% 80%);
	--clr-bg: hsl(210 47% 12%);

	--bg: radial-gradient(hsl(206 50% 11%), var(--clr-bg));
	--bg-opacity: 0.6;

	/* Header */
	--clr-header-bg: hsl(210 47% 12% / 80%);

	/* Menu */
	--clr-menu-text: hsl(210 40% 80%);
	--clr-menu-bg: linear-gradient(
		180deg,
		hsl(210 47% 14%) 0%,
		hsl(210 47% 12%) 100%
	);
	--clr-menu-arrow-bg: hsl(210 47% 14%);
	--clr-menu-border: hsl(210 40% 20%);

	--clr-theme-txt: hsl(210 40% 20%);
	--clr-theme-active: hsl(210 40% 80%);
	--clr-switch-on-bg: hsl(210 40% 60%);
	--clr-switch-off-bg: hsl(210 40% 20%);

	/* Hero */
	--clr-hero-txt: hsl(210 40% 60%);
	--clr-hero-bg: linear-gradient(
		270deg,
		hsl(210 47% 12%) 43%,
		hsl(210 47% 14%) 66%
	);
	--clr-hero-divider-bg: hsl(210 40% 20%);
	--clr-input-txt: hsl(210 40% 20%);
	--clr-input-bg: hsl(210 40% 16%);
	--clr-input-placeholder-txt: hsl(210 40% 60%);
	--clr-input-border: hsl(210 40% 20%);

	/* Card */
	--clr-card-bg: linear-gradient(
		180deg,
		hsl(210 47% 14%) 0%,
		hsl(210 47% 12%) 100%
	);
	--clr-card-txt: hsl(210 40% 60%);

	/* Link */
	--clr-link-txt: hsl(210 40% 80%);
	--clr-link-background: hsl(210 40% 4%);

	/* Footer */
	--clr-footer-txt: hsl(210 40% 80%);
	--clr-footer-bg: hsl(210 47% 12%);

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(206 50% 11% / 60%), var(--clr-bg));
	--post-blockquote-txt: hsl(210 47% 80%);
	--post-blockquote-bg: hsl(210 47% 14%);
	--post-blockquote-border: hsl(210 40% 20%);

	--clr-code-bg: linear-gradient(hsl(210 47% 14%), hsl(210 47% 18%));
	--clr-code-title: hsl(210 40% 60%);
	--clr-code-title-bg: hsl(210 47% 14%);
	--clr-code-border: hsl(210 40% 20%);
	--clr-code-line-number: hsl(210 40% 40%);
	--clr-code-line-highlight: hsl(210 40% 20%);
	--clr-code-inline-txt: hsl(210 47% 98%);
	--clr-code-inline-bg: hsl(210 47% 10%);

	/* Search */
	--clr-search-bg: hsl(210 47% 12%);
	--clr-search-txt: hsl(210 47% 80%);
	--clr-search-border: hsl(210 47% 14%);
	--clr-search-kbd-bg: hsl(210 47% 14%);
	--clr-search-kbd-txt: hsl(210 47% 90%);
	--clr-search-kbd-border: hsl(210 47% 18%);
	--clr-search-input-bg: hsl(210 47% 14%);
	--clr-search-input-txt: hsl(210 47% 98%);
	--clr-search-results-bg: hsl(210 47% 12%);
	--clr-results-border: hsl(210 47% 18%);
}

html[data-theme='🧠 Night Mind'] {
	/* Global */
	--clr-primary: hsl(9 100% 84%);
	--clr-txt: hsl(265 28% 98%);
	--clr-bg: hsl(265 28% 10%);

	--bg: radial-gradient(hsl(265 28% 20%), var(--clr-bg));
	--bg-opacity: 0.6;

	/* Header */
	--clr-header-bg: hsl(265 28% 10% / 80%);

	/* Menu */
	--clr-menu-text: hsl(265 28% 98%);
	--clr-menu-bg: linear-gradient(
		180deg,
		hsl(265 28% 20%) 0%,
		hsl(265 28% 18%) 100%
	);
	--clr-menu-arrow-bg: hsl(265 28% 20%);
	--clr-menu-border: hsl(265 28% 24%);

	--clr-theme-txt: hsl(265 28% 20%);
	--clr-theme-active: hsl(9 100% 90%);
	--clr-switch-on-bg: hsl(265 28% 30%);
	--clr-switch-off-bg: hsl(265 28% 24%);

	/* Hero */
	--clr-hero-txt: hsl(265 28% 80%);
	--clr-hero-bg: linear-gradient(
		270deg,
		hsl(265 28% 20%) 43%,
		hsl(265 28% 24%) 66%
	);
	--clr-hero-divider-bg: hsl(265 28% 24%);
	--clr-input-txt: hsl(265 28% 20%);
	--clr-input-bg: hsl(265 28% 24%);
	--clr-input-placeholder-txt: hsl(265 28% 80%);
	--clr-input-border: hsl(265 28% 26%);

	/* Card */
	--clr-card-bg: linear-gradient(
		180deg,
		hsl(265 28% 22%) 0%,
		hsl(265 28% 20%) 100%
	);
	--clr-card-txt: hsl(265 28% 80%);

	/* Link */
	--clr-link-txt: hsl(265 28% 98%);
	--clr-link-background: hsl(210 40% 4%);

	/* Footer */
	--clr-footer-txt: hsl(265 28% 98%);
	--clr-footer-bg: hsl(265 28% 10%);

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(265 28% 20% / 60%), var(--clr-bg));
	--post-blockquote-txt: hsl(265 28% 90%);
	--post-blockquote-bg: hsl(265 28% 14%);
	--post-blockquote-border: hsl(265 28% 18%);

	--clr-code-bg: linear-gradient(hsl(265 28% 8%), hsl(265 28% 10%));
	--clr-code-title: hsl(265 28% 80%);
	--clr-code-title-bg: hsl(265 28% 8%);
	--clr-code-border: hsl(265 28% 18%);
	--clr-code-line-number: hsl(265 20% 34%);
	--clr-code-line-highlight: hsl(265 28% 18%);
	--clr-code-inline-txt: hsl(265 28% 98%);
	--clr-code-inline-bg: hsl(265 28% 10%);

	/* Search */
	--clr-search-bg: hsl(265 28% 24%);
	--clr-search-txt: hsl(265 28% 80%);
	--clr-search-border: hsl(265 28% 28%);
	--clr-search-kbd-bg: hsl(265 28% 28%);
	--clr-search-kbd-txt: hsl(265 28% 90%);
	--clr-search-kbd-border: hsl(265 28% 34%);
	--clr-search-input-bg: hsl(265 28% 28%);
	--clr-search-input-txt: hsl(265 28% 98%);
	--clr-search-results-bg: hsl(265 28% 24%);
	--clr-results-border: hsl(265 28% 28%);
}
