@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlight: hsl(38 93% 77%);
  --muted: hsl(214 20% 69%);
  --primary: hsl(220 26% 14%);
  --secondary: hsl(218 23% 23%);
  --body: hsl(211 25% 84%);
  --selection: var(--highlight);
  --selectionText: hsl(14 60% 25%);
  --separator: hsl(217 19% 27%);

  --cardTitle: hsl(0 0% 98%);

  --code: hsl(0 0% 100%);
  --pre: hsl(218 26% 16%);
  --tokenFunction: hsl(212 96% 78%);
  --tokenKeyword: var(--highlight);
  --tokenOperator: hsl(0 94% 82%);
  --tokenPunctuation: hsl(213 97% 87%);
  --tokenString: hsl(0 94% 82%);
  --comment: hsl(218 11% 65%);

  --sans: 'Inter, sans-serif';
  --mono: 'Mononoki, monospace';
  --openDyslexic: 'OpenDyslexic, sans-serif';
  --openDyslexicMono: 'OpenDyslexic Mono, monospace';
}

html[data-theme='🌙 Dusk'] {
  --highlight: hsl(38.2 93.2% 76.9%);
  --muted: hsl(213.8 20.3% 69%);
  --primary: hsl(220 25.7% 13.7%);
  --secondary: hsl(217.8 23.1% 22.9%);
  --body: hsl(211.4 25.3% 83.7%);
  --selection: var(--highlight);
  --selectionText: hsl(14.2 60.3% 24.7%);
  --separator: hsl(216.9 19.1% 26.7%);

  --code: hsl(0 0% 100%);
  --pre: hsl(218.2 26.2% 16.5%);
  --tokenFunction: hsl(211.7 96.4% 78.4%);
  --tokenKeyword: var(--highlight);
  --tokenOperator: hsl(0 93.5% 81.8%);
  --tokenPunctuation: hsl(213.3 96.9% 87.3%);
  --tokenString: hsl(0 93.5% 81.8%);
  --comment: hsl(217.9 10.6% 64.9%);
}

html[data-theme='☀️ Light'] {
  --highlight: hsl(210.7 60.7% 42.9%);
  --muted: hsl(218 16.9% 34.9%);
  --primary: hsl(0 0% 100%);
  --secondary: hsl(0 0% 98%);
  --body: hsl(218 16.9% 34.9%);
  --selection: var(--highlight);
  --selectionText: hsl(0 0% 100%);
  --separator: hsl(220 13% 91%);

  --cardTitle: hsl(0 0% 20%);

  --code: hsl(0 0% 0%);
  --pre: hsl(0 0% 100%);
  --tokenFunction: hsl(23 75.6% 53.3%);
  --tokenKeyword: var(--highlight);
  --tokenOperator: hsl(8 80.5% 61.8%);
  --tokenPunctuation: hsl(0 0% 54.1%);
  --tokenString: hsl(8 80.5% 61.8%);
  --comment: hsl(217.9 10.6% 64.9%);
}

html[data-theme='🐺 Night Howl'] {
  --highlight: hsl(207.9 100% 94.5%);
  --muted: hsl(200.7 40.8% 72.2%);
  --primary: hsl(206.9 50.9% 11.2%);
  --secondary: hsl(206.8 51.4% 14.5%);
  --body: hsl(200.7 40.8% 72.2%);
  --selection: var(--highlight);
  --selectionText: hsl(206.9 50.9% 11.2%);
  --separator: hsl(207.3 50% 17.3%);

  --code: hsl(0 0% 100%);
  --pre: hsl(206.9 50.9% 11.2%);
  --tokenFunction: hsl(23 75.6% 53.3%);
  --tokenKeyword: hsl(197.7 100% 49.2%);
  --tokenOperator: hsl(358.1 79.6% 69.2%);
  --tokenPunctuation: hsl(207.9 34.4% 75.5%);
  --tokenString: hsl(111.1 65.3% 71.8%);
  --comment: hsl(217.9 10.6% 64.9%);
}

html[data-theme='🧠 Night Mind'] {
  --highlight: hsl(9.1 100% 84.5%);
  --muted: hsl(265.5 28.7% 77.5%);
  --primary: hsl(264 16.1% 12.2%);
  --secondary: hsl(256.4 14.7% 14.7%);
  --body: hsl(0 0% 100%);
  --selection: var(--highlight);
  --selectionText: hsl(206.9 50.9% 11.2%);
  --separator: hsl(265.7 15.9% 17.3%);

  --code: hsl(44.1 71.9% 65.1%);
  --pre: hsl(256.4 14.7% 14.7%);
  --tokenFunction: hsl(238.8 92.9% 78%);
  --tokenKeyword: hsl(205.5 82.7% 63.7%);
  --tokenOperator: hsl(358.1 79.6% 69.2%);
  --tokenPunctuation: hsl(249 60% 58.8%);
  --tokenString: hsl(102.8 68.9% 67.3%);
  --comment: hsl(217.9 10.6% 64.9%);
}

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/inter/Inter-Variable.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Mononoki';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/mononoki/mononoki-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Mononoki';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/mononoki/mononoki-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/openDyslexic/OpenDyslexic-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'OpenDyslexic Mono';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/openDyslexic/OpenDyslexic-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/openDyslexic/OpenDyslexicMono-Regular.woff2')
      format('woff2');
  }

  ::selection {
    @apply bg-selection text-selectionText;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-none;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-highlight;
  }

  html {
    height: 100%;
    cursor: url('/images/cursor-default.webp'), default;
    scrollbar-color: theme('colors.highlight') transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scroll-padding-top: theme('space.8');
    -webkit-tap-highlight-color: transparent;
  }

  html[data-font='accessible'] body {
    @apply font-openDyslexic;
  }

  html[data-font='accessible'] .prose kbd,
  html[data-font='accessible'] .prose code,
  html[data-font='accessible'] .prose .remark-code-title {
    @apply font-openDyslexicMono;
  }

  body {
    height: 100%;
    font-family: theme('fontFamily.sans');
    background-color: theme('colors.primary');
    background-image: linear-gradient(
        to bottom,
        transparent,
        theme('colors.primary')
      ),
      url('/images/nebula-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }

  body::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      theme('colors.primary') 90%,
      transparent
    );
    opacity: 0.7;
    z-index: -20;
  }

  @media (min-width: theme('screens.md')) {
    body {
      background-position: center;
      background-size: 100% 100%;
      animation: zoom 10s ease-in-out alternate infinite;
    }
  }

  h1 {
    @apply text-4xl font-black text-muted lg:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold text-muted lg:text-4xl;
  }

  p {
    @apply text-lg leading-loose md:text-xl text-body;
  }

  a,
  button,
  select,
  ul > li div,
  button div {
    cursor: url('/images/cursor-pointer.webp'), pointer;
  }

  .prose {
    @apply text-body;
  }

  .prose h1 {
    @apply max-w-2xl pb-4 mx-auto mb-4 text-center border-b border-separator md:pb-8 lg:text-6xl md:mb-8 lg:mb-8 lg:leading-tight;
  }

  .prose h2 {
    @apply mt-16 text-highlight;
  }

  .prose p {
    @apply my-8 leading-loose;
  }

  .prose a {
    @apply relative before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-highlight before:scale-x-0 before:transition-transform hover:before:scale-x-100 text-highlight before:origin-left;
  }

  .prose ul,
  .prose ol {
    @apply my-8 space-y-4 text-lg md:text-xl md:leading-loose;
  }

  .prose ul {
    @apply list-disc list-inside;
  }

  .prose ol {
    @apply list-decimal list-inside;
  }

  .prose blockquote {
    @apply px-8 py-2 my-8 border-l-4 bg-secondary border-highlight;
  }

  .prose kbd {
    @apply p-1 font-mono border border-b-[3px] rounded-md bg-primary text-code border-gray-700;
  }

  .prose code {
    @apply p-1 font-mono rounded-md text-code bg-secondary;
  }

  .prose pre {
    @apply relative z-20 p-6 overflow-auto rounded-md shadow-lg bg-pre md:text-lg;
  }

  .prose code[class*='language-'],
  .prose pre[class*='language-'] {
    @apply p-0 leading-relaxed bg-transparent text-code;
  }

  .prose .remark-code-title {
    @apply relative px-4 py-2 font-mono font-bold shadow-lg rounded-tl-md left-4 lg:left-0 rounded-tr-md -z-10 w-max bg-highlight text-primary;
  }

  .prose .token.comment,
  .prose .token.prolog,
  .prose .token.doctype,
  .prose .token.cdata {
    @apply text-comment;
  }

  .prose .token.punctuation {
    @apply text-tokenPunctuation;
  }

  .prose .token.property,
  .prose .token.tag,
  .prose .token.boolean,
  .prose .token.number,
  .prose .token.constant,
  .prose .token.symbol,
  .prose .token.deleted {
    @apply text-red-400;
  }

  .prose .token.selector,
  .prose .token.attr-name,
  .prose .token.string,
  .prose .token.char,
  .prose .token.builtin,
  .prose .token.inserted {
    @apply text-tokenString;
  }

  .prose .token.operator,
  .prose .token.entity,
  .prose .token.url,
  .prose .language-css .token.string,
  .prose .style .token.string {
    @apply text-tokenOperator;
  }

  .prose .token.atrule,
  .prose .token.attr-value,
  .prose .token.keyword {
    @apply text-tokenKeyword;
  }

  .prose .token.function,
  .prose .token.class-name {
    @apply text-tokenFunction;
  }

  .prose .token.regex,
  .prose .token.important,
  .prose .token.variable {
    @apply text-highlight;
  }
}

.menu {
  clip-path: circle(0px at 44px 93.8%);
}

.menu.open {
  clip-path: circle(1000px at 44px 93.8%);
}

.shine {
  overflow: hidden;
  position: relative;
}

.shine::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    hsla(0 0% 100% / 0%) 0%,
    hsla(0 0% 100% / 30%) 50%,
    hsla(0 0% 100% / 0%) 100%
  );
  background-size: 400% 100%;
  animation: shine 4s cubic-bezier(0.44, 0.21, 0, 1) alternate infinite;
  z-index: 20;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px hsla(0 0% 0% / 100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(20px);
  }
  50% {
    transform: translateY(0) rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes shine {
  0% {
    background-position: right;
  }
}

@keyframes zoom {
  0% {
    background-size: 120% 120%;
  }
}
