@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sans: 'Inter, sans-serif';
  --mono: 'Mononoki, monospace';
  --openDyslexic: 'OpenDyslexic, sans-serif';
  --openDyslexicMono: 'OpenDyslexic Mono, monospace';
}

[color-scheme='🌙 Dusk'] {
  color-scheme: dark;
  --highlight: hsl(38 93% 76%);
  --muted: hsl(213 20% 69%);
  --primary: hsl(220 25% 13%);
  --secondary: hsl(217 23% 22%);
  --body: hsl(211 25% 83%);
  --color-selection: var(--highlight);
  --color-selection-text: hsl(14 60% 24%);
  --separator: hsl(216 19% 26%);
  --card-title: hsl(0 0% 98%);
  --code: hsl(0 0% 98%);
  --pre: hsl(218 26% 16%);
  --code-title: hsl(0 0% 98%);
  --code-border: hsl(218 26% 20%);
  --color-code-line-highlight: hsl(218 26% 20%);
  --color-code-line-number: hsl(218 26% 40%);
  --token-1: hsl(211 96% 78%);
  --token-2: var(--highlight);
  --token-3: hsl(0 93% 81%);
  --token-4: hsl(218 26% 80%);
  --token-5: hsl(0 93% 81%);
  --token-6: hsl(217 10% 64%);
}

[color-scheme='☀️ Light'] {
  color-scheme: light;
  --highlight: hsl(210 60% 42%);
  --muted: hsl(218 16% 34%);
  --primary: hsl(0 0% 100%);
  --secondary: hsl(0 0% 98%);
  --body: hsl(218 16% 34%);
  --color-selection: var(--highlight);
  --color-selection-text: hsl(0 0% 100%);
  --separator: hsl(220 13% 91%);
  --card-title: hsl(0 0% 20%);
  --code: hsl(0 0% 10%);
  --pre: hsl(0 0% 98%);
  --code-title: hsl(0 0% 10%);
  --code-border: hsl(0 0% 94%);
  --color-code-line-highlight: hsl(0 0% 94%);
  --color-code-line-number: hsl(0 0% 80%);
  --token-1: hsl(23 75% 53%);
  --token-2: var(--highlight);
  --token-3: hsl(8 80% 61%);
  --token-4: hsl(0 0% 40%);
  --token-5: hsl(8 80% 61%);
  --token-6: hsl(217 10% 64%);
}

[color-scheme='🐺 Night Howl'] {
  color-scheme: dark;
  --highlight: hsl(207 100% 94%);
  --muted: hsl(200 40% 72%);
  --primary: hsl(206 50% 11%);
  --secondary: hsl(206 51% 14%);
  --body: hsl(200 40% 72%);
  --color-selection: var(--highlight);
  --color-selection-text: hsl(206 50% 11%);
  --separator: hsl(207 50% 17%);
  --card-title: hsl(0 0% 98%);
  --code: hsl(0 0% 98%);
  --pre: hsl(206 50% 14%);
  --code-title: hsl(0 0% 98%);
  --code-border: hsl(206 50% 18%);
  --color-code-line-highlight: hsl(206 50% 20%);
  --color-code-line-number: hsl(206 50% 40%);
  --token-1: hsl(180 100% 43%);
  --token-2: hsl(197 100% 49%);
  --token-3: hsl(358 79% 69%);
  --token-4: hsl(206 50% 98%);
  --token-5: hsl(111 65% 71%);
  --token-6: hsl(217 10% 64%);
}

[color-scheme='🧠 Night Mind'] {
  color-scheme: dark;
  --highlight: hsl(9 100% 84%);
  --muted: hsl(265 28% 77%);
  --primary: hsl(264 16% 12%);
  --secondary: hsl(256 14% 14%);
  --body: hsl(0 0% 100%);
  --color-selection: var(--highlight);
  --color-selection-text: hsl(206 50% 11%);
  --separator: hsl(265 15% 17%);
  --card-title: hsl(0 0% 98%);
  --code: hsl(0 0% 98%);
  --pre: hsl(256 14% 14%);
  --code-title: hsl(0 0% 98%);
  --code-border: hsl(256 14% 18%);
  --color-code-line-highlight: hsl(256 14% 24%);
  --color-code-line-number: hsl(256 14% 40%);
  --token-1: hsl(238 80% 80%);
  --token-2: hsl(205 82% 70%);
  --token-3: hsl(358 79% 68%);
  --token-4: hsl(256 14% 98%);
  --token-5: hsl(102 68% 67%);
  --token-6: hsl(217 10% 64%);
}

@layer base {
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: black;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Black.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Mononoki';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/mononoki/mononoki-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Mononoki';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/mononoki/mononoki-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/openDyslexic/OpenDyslexic-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'OpenDyslexic Mono';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/openDyslexic/OpenDyslexic-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/openDyslexic/OpenDyslexicMono-Regular.woff2')
      format('woff2');
  }

  ::selection {
    color: var(--color-selection-text);
    background-color: var(--color-selection);
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-none;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-highlight;
  }

  html {
    height: 100%;
    cursor: url('/images/cursor-default.webp'), default;
    scrollbar-color: theme('colors.highlight') theme('colors.secondary');
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scroll-padding-top: theme('space.8');
    -webkit-tap-highlight-color: transparent;
  }

  html[data-font='accessible'] body {
    @apply font-openDyslexic;
  }

  html[data-font='accessible'] .prose kbd,
  html[data-font='accessible'] .prose code,
  html[data-font='accessible'] .prose .rehype-code-title {
    @apply font-openDyslexicMono;
  }

  html[data-font='accessible'] .card-title {
    @apply w-[94%];
  }

  body {
    height: 100%;
    font-family: theme('fontFamily.sans');
    background-image: url('/images/neon-space.svg');
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
  }

  body::after {
    content: '';
    position: fixed;
    inset: 0;
    background-color: theme('colors.primary');
    opacity: 0.9;
    z-index: -20;
  }

  h1 {
    @apply text-4xl font-black text-muted lg:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold text-muted lg:text-4xl;
  }

  p {
    @apply text-lg leading-relaxed md:text-xl text-body;
  }

  a,
  button,
  select,
  ul > li div,
  button div {
    cursor: url('/images/cursor-pointer.webp'), pointer;
  }

  .card-title {
    @apply w-[80%] text-3xl;
  }

  .code-title {
    color: var(--code-title);
    border-color: var(--code-border);
  }

  .prose {
    @apply text-body;
  }

  .prose h1 {
    @apply max-w-2xl pb-4 mx-auto mb-4 text-center md:pb-8 lg:text-6xl md:mb-8 lg:mb-8 lg:leading-tight;
  }

  .prose h2 {
    @apply mt-16 text-highlight;
  }

  .prose p {
    @apply my-6 leading-relaxed;
  }

  .prose a {
    @apply relative before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-highlight before:scale-x-0 before:transition-transform hover:before:scale-x-100 text-highlight before:origin-left;
  }

  .prose ul,
  .prose ol {
    @apply my-6 text-lg md:text-xl md:leading-loose;
  }

  .prose ul {
    @apply list-disc list-inside;
  }

  .prose ol {
    @apply list-decimal list-inside;
  }

  .prose blockquote {
    @apply px-8 py-2 my-8 border-l-4 bg-secondary border-highlight;
  }

  .prose kbd {
    @apply p-1 font-mono border border-b-[3px] rounded-md bg-primary text-code border-gray-700;
  }

  .prose code {
    @apply p-1 font-mono rounded-md text-code bg-secondary;
  }

  .prose pre {
    @apply relative z-20 p-6 overflow-auto shadow-lg rounded-bl-md rounded-br-md bg-pre md:text-lg;
  }

  .prose code[class*='language-'],
  .prose pre[class*='language-'] {
    @apply p-0 leading-relaxed bg-transparent text-code;
  }

  .prose .rehype-code-title {
    @apply py-4 pl-6 text-lg border-b code-title bg-pre rounded-tl-md rounded-tr-md lg:-mx-8;
  }

  .prose .code-highlight {
    width: 100%;
    float: left;
  }

  .prose .code-line {
    display: block;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: -16px;
    margin-left: -16px;
  }

  .prose .highlight-line {
    margin-right: -16px;
    margin-left: -16px;
    background-color: var(--color-code-line-highlight);
  }

  .prose .line-number::before {
    content: attr(line);
    margin-left: -8px;
    padding-right: 16px;
    color: var(--color-code-line-number);
  }

  .prose .token.comment,
  .prose .token.prolog,
  .prose .token.doctype,
  .prose .token.cdata {
    color: var(--token-6);
  }

  .prose .token.punctuation {
    color: var(--token-4);
  }

  .prose .token.property,
  .prose .token.tag,
  .prose .token.boolean,
  .prose .token.number,
  .prose .token.constant,
  .prose .token.symbol,
  .prose .token.deleted {
    color: var(--token-3);
  }

  .prose .token.selector,
  .prose .token.attr-name,
  .prose .token.string,
  .prose .token.char,
  .prose .token.builtin,
  .prose .token.inserted {
    color: var(--token-5);
  }

  .prose .token.operator,
  .prose .token.entity,
  .prose .token.url,
  .prose .language-css .token.string,
  .prose .style .token.string {
    color: var(--token-3);
  }

  .prose .token.atrule,
  .prose .token.attr-value,
  .prose .token.keyword {
    color: var(--token-2);
  }

  .prose .token.function,
  .prose .token.class-name {
    color: var(--token-1);
  }

  .prose .token.regex,
  .prose .token.important,
  .prose .token.variable {
    @apply text-highlight;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 2px hsla(0 0% 0% / 100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(20px);
  }
  50% {
    transform: translateY(0) rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.menu {
  clip-path: circle(0px at 44px 93.8%);
}

.menu.open {
  clip-path: circle(1000px at 44px 93.8%);
}

.backdrop {
  background-color: theme('colors.secondary');
  opacity: 0.98;
}

@supports (backdrop-filter: blur(10px)) {
  .backdrop {
    background-color: transparent;
    backdrop-filter: blur(40px);
  }
}
